<?xml version="1.0"?>
<launch>
    <arg name="run_demo" default="false" doc="If true, perform the demo after launch"/>
    <arg name="paused" default="false" doc="Starts gazebo in paused mode"/>
    <arg name="gui" default="true" doc="Starts gazebo gui"/>
    <arg name="effort_control" default="false"/>
    <arg name="velocity_control" default="false"/>
    <arg name="add_gripper" default="false"/>
    <arg name="add_vacuum_gripper" default="false"/>
    <arg name="namespace" default="xarm"/>
    <arg name="gripper_meshes_path" default=""/>
    <arg name="upside_down" default="false"/>
    <arg name="long_finger" default="false"/>
    <arg name="tool_changer" default="false"/>
    <arg name="xarm_velocity_control" value="$(eval arg('velocity_control') and not arg('run_demo'))"/>
    <arg name="base_link_y" if="$(arg upside_down)" value="-0.75"/>
    <arg name="base_link_y" unless="$(arg upside_down)" value="-0.5"/>
    <arg name="base_link_z" if="$(arg upside_down)" value="0.98"/>
    <arg name="base_link_z" unless="$(arg upside_down)" value="1.021"/>
    <arg name="base_link_roll" if="$(arg upside_down)" value="3.14"/>
    <arg name="base_link_roll" unless="$(arg upside_down)" value="0"/>


    <rosparam file="$(find xarm6_moveit_config)/config/xarm6_params.yaml" command="load" ns="$(arg namespace)"/>
    <rosparam if="$(arg add_gripper)" file="$(find xarm_controller)/config/gripper_gazebo_ros_control.yaml"
              command="load"/>
    <!-- startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find xarm_gazebo)/worlds/xarm_example1_table.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="respawn_gazebo" value="true"/>
    </include>

    <!-- send robot urdf to param server, joint limit may be overwritten if use moveit planner -->
    <param unless="$(eval arg('add_gripper') or arg('add_vacuum_gripper'))" name="robot_description"
           command="$(find xacro)/xacro
    --inorder '$(find xarm_description)/urdf/xarm6_robot.urdf.xacro'
    effort_control:=$(arg effort_control) velocity_control:=$(arg xarm_velocity_control)"/>

    <!--    base_link_rpy:='$(arg base_link_roll) 0 1.571'
    base_link_xyz:='0 -0.5 $(arg base_link_z)' -->
    <param if="$(arg add_gripper)" name="robot_description"
           command="$(find xacro)/xacro
    --inorder '$(find xarm_description)/urdf/xarm6_with_gripper.xacro'
    effort_control:=$(arg effort_control) velocity_control:=$(arg xarm_velocity_control) 
    gripper_meshes_path:=$(arg gripper_meshes_path) 
    tool_changer:='$(arg tool_changer)' upside_down:='$(arg upside_down)' long_finger:='$(arg long_finger)'"/>

    <param if="$(arg add_vacuum_gripper)" name="robot_description"
           command="$(find xacro)/xacro
    --inorder '$(find xarm_description)/urdf/xarm6_with_vacuum_gripper.xacro'
    effort_control:=$(arg effort_control) velocity_control:=$(arg xarm_velocity_control)"/>

    <!-- spawn robot model in gazebo, located on the table 
    rpy and xyz are removed and passed directly to xacro files to make moveit_rviz and gazebo launch files similar-->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
          respawn="false" output="screen"
          args="-urdf -model xarm6 -param robot_description -y $(arg base_link_y) -z $(arg base_link_z) 
          -R $(arg base_link_roll) -Y -1.571"/>

    <!-- load the corresponding controllers -->
    <include file="$(find xarm_controller)/launch/xarm6_control.launch">
        <arg name="run_demo_traj" value="$(arg run_demo)"/>
        <arg name="effort_control" value="$(arg effort_control)"/>
        <arg name="velocity_control" value="$(arg xarm_velocity_control)"/>
        <arg name="add_gripper" value="$(arg add_gripper)"/>
        <arg name="namespace" value="$(arg namespace)"/>
    </include>


</launch>
