<launch>
    <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
    <arg name="load_robot_description" default="false"/>

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description"/>
    <arg name="gripper_meshes_path" default=""/>
    <arg name="upside_down" default="false"/>
    <arg name="long_finger" default="false"/>
    <arg name="tool_changer" default="false"/>
    <arg name="base_link_z" if="$(arg upside_down)" value="0.98"/>
    <arg name="base_link_z" unless="$(arg upside_down)" value="0"/>
    <arg name="base_link_roll" if="$(arg upside_down)" value="3.14"/>
    <arg name="base_link_roll" unless="$(arg upside_down)" value="0"/>


    <!-- Load universal robot description format (URDF) -->
    <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro --inorder  
        '$(find xarm_description)/urdf/xarm6_with_gripper.xacro' limited:=true 
         gripper_meshes_path:=$(arg gripper_meshes_path) base_link_rpy:='$(arg base_link_roll) 0 0' 
         base_link_xyz:='0 0 $(arg base_link_z)' long_finger:='$(arg long_finger)' upside_down:='$(arg upside_down)'
         tool_changer:='$(arg tool_changer)'"/>

    <!-- The semantic description that corresponds to the URDF -->
    <param if="$(arg load_robot_description)" name="$(arg robot_description)_semantic"
           command="xacro --inorder  '$(find xarm_description)/srdf/xarm.srdf.xacro' dof:=6 add_gripper:=true robot_type:=xarm"/>

    <!-- Load updated joint limits (override information from URDF) -->
    <group ns="$(arg robot_description)_planning">
        <rosparam command="load" file="$(find xarm6_gripper_moveit_config)/config/joint_limits.yaml"/>
    </group>

    <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
    <group ns="$(arg robot_description)_kinematics">
        <rosparam command="load" file="$(find xarm6_gripper_moveit_config)/config/kinematics.yaml"/>
    </group>

</launch>
